<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true"
         failOnWarning="true"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="FastRoute test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
